from random import randint
feld = [[0,   1, 2, 3, 4, 5, 6, 7, 8, 9],
             ["A", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["B", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["C", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["D", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["E", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["F", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["G", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["H", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["I", 0, 0, 0, 0, 0, 0, 0, 0, 0]]
for einFeld in feld:
    kfeld = ""
    for eineinFeld in einFeld:
        kfeld = kfeld +" "+ str(eineinFeld)
    print(kfeld)
print("------------------")
gegnerfeld =[[0,   1, 2, 3, 4, 5, 6, 7, 8, 9],
             ["A", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["B", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["C", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["D", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["E", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["F", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["G", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["H", 0, 0, 0, 0, 0, 0, 0, 0, 0],
             ["I", 0, 0, 0, 0, 0, 0, 0, 0, 0]]
for i in range (4):
    gegf = randint(1, 9)
    gefg = randint(1, 9)
    gg = randint(1, 2)
    for i in range (2):
        gegnerfeld[gegf][gefg] = 1
        if gg == 1:
            gegf += 1
        if gg == 2:
            gefg += 1
for einFeld in gegnerfeld:
    kkfeld = ""
    for eineinFeld in einFeld:
        kkfeld = kkfeld +" "+ str(eineinFeld)
    print(kkfeld)
    wieoft = 4
for i in range (wieoft):
    wieoft -= 1
    wb = input("Welcher Buchstabe?")
    if wb == "A":
        wb = 1
    if wb == "B":
        wb = 2
    if wb == "C":
        wb = 3
    if wb == "D":
        wb = 4
    if wb == "E":
        wb = 5
    if wb == "F":
        wb = 6
    if wb == "G":
        wb = 7
    if wb == "H":
        wb = 8
    if wb == "I":
        wb = 9
    wz = input("Und welche Zahl?")
    wz = int(wz)
    #if feld[wb - 1][wz] or feld[wb + 1][wz] or feld[wb][wz + 1] or feld[wb][wz - 1] or feld[wb + 1][wz + 1] or feld[wb - 1][wz - 1] or feld[wb + 1][wz - 1] or feld[wb - 1][wz + 1]:
    feld[wb][wz] = 1
    whowv = input ("Horizontal oder vertikal?")
    if whowv == "Horizontal" or whowv == "horizontal":
        if wz == 9:
            feld[wb][wz - 1] = 1
        elif not feld[wb][wz - 1] == 0:
            wieoft += 1
        else:
            feld[wb][wz + 1] = 1
    if whowv == "Vertikal" or whowv == "vertikal":
        if wb == 9:
            feld[wb - 1][wz] = 1
        elif not feld[wb - 1][wz] == 0:
            wieoft += 1
        else:
            feld[wb + 1][wz] = 1
    for einFeld in feld:
        kfeld = ""
        for eineinFeld in einFeld:
            kfeld = kfeld +" "+ str(eineinFeld)
        print(kfeld)
    print("------------------")
    for i in range (4): 
        wgb = input("Auf welchem Buchstaben willst du angreifen?")
        if wgb == "A":
            wgb = 1
        if wgb == "B":
            wgb = 2
        if wgb == "C":
            wgb = 3
        if wgb == "D":
            wgb = 4
        if wgb == "E":
            wgb = 5
        if wgb == "F":
            wgb = 6
        if wgb == "G":
            wgb = 7
        if wgb == "H":
            wgb = 8
        if wgb == "I":
            wgb = 9
        wgz = input("Und welche Zahl?")
        wgz = int(wgz)
        if gegnerfeld[wgb][wgz] == 1:
            print("Getroffen!")
            gegnerfeld[wgb][wgz] = 0
            print("------------------")
        elif gegnerfeld[wgb][wgz] == 0:
            print("Daneben!")
            print("------------------")   
